.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    margin: 0px;
    background: #c1d3fe;
    /*border-bottom: 1px solid #a2a2a4;*/
}

.navbar-title {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
    border: 0px;
    background: #c1d3fe;
    color: white;
}