
* {
  background-color: #d2dbe0;
  font-family: 'Crimson Pro', serif;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}